@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot?18240258');
    src: url('../fonts/iconfont.eot?18240258#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff2?18240258') format('woff2'),
    url('../fonts/iconfont.woff?18240258') format('woff'),
    url('../fonts/iconfont.ttf?18240258') format('truetype'),
    url('../fonts/iconfont.svg?18240258#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.svg?18240258#iconfont') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "iconfont";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-location:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-arrows-ccw:before { content: '\e804'; } /* '' */
.icon-play-circled2:before { content: '\e805'; } /* '' */
.icon-location-1:before { content: '\e806'; } /* '' */
.icon-basket:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-camera:before { content: '\e80a'; } /* '' */
.icon-picture:before { content: '\e80b'; } /* '' */
.icon-th-large:before { content: '\e80c'; } /* '' */
.icon-ok:before { content: '\e80d'; } /* '' */
.icon-thumbs-up:before { content: '\e80e'; } /* '' */
.icon-thumbs-down:before { content: '\e80f'; } /* '' */
.icon-right-open:before { content: '\e810'; } /* '' */
.icon-right-big:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-eye:before { content: '\e813'; } /* '' */
.icon-download:before { content: '\e814'; } /* '' */
.icon-layout:before { content: '\e815'; } /* '' */
.icon-globe:before { content: '\e816'; } /* '' */
.icon-clock:before { content: '\e817'; } /* '' */
.icon-export:before { content: '\e818'; } /* '' */
.icon-export-1:before { content: '\e819'; } /* '' */
.icon-mail-1:before { content: '\e81a'; } /* '' */
.icon-tiktok:before { content: '\e81b'; } /* '' */
.icon-eventbrite:before { content: '\e81c'; } /* '' */
.icon-chat:before { content: '\e81d'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-bath:before { content: '\f2cd'; } /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */