[class*='col-'] {
  width: 100%; }

.col-1 {
  -webkit-flex-basis: 5.58333%;
  -moz-flex-basis: 5.58333%;
  -ms-flex-preferred-size: 5.58333%;
  flex-basis: 5.58333%;
  max-width: 5.58333%; }

.col-2 {
  -webkit-flex-basis: 14.16667%;
  -moz-flex-basis: 14.16667%;
  -ms-flex-preferred-size: 14.16667%;
  flex-basis: 14.16667%;
  max-width: 14.16667%; }

.col-3 {
  -webkit-flex-basis: 22.75%;
  -moz-flex-basis: 22.75%;
  -ms-flex-preferred-size: 22.75%;
  flex-basis: 22.75%;
  max-width: 22.75%; }

.col-4 {
  -webkit-flex-basis: 31.33333%;
  -moz-flex-basis: 31.33333%;
  -ms-flex-preferred-size: 31.33333%;
  flex-basis: 31.33333%;
  max-width: 31.33333%; }

.col-5 {
  -webkit-flex-basis: 39.91667%;
  -moz-flex-basis: 39.91667%;
  -ms-flex-preferred-size: 39.91667%;
  flex-basis: 39.91667%;
  max-width: 39.91667%; }

.col-6 {
  -webkit-flex-basis: 48.5%;
  -moz-flex-basis: 48.5%;
  -ms-flex-preferred-size: 48.5%;
  flex-basis: 48.5%;
  max-width: 48.5%; }

.col-7 {
  -webkit-flex-basis: 57.08333%;
  -moz-flex-basis: 57.08333%;
  -ms-flex-preferred-size: 57.08333%;
  flex-basis: 57.08333%;
  max-width: 57.08333%; }

.col-8 {
  -webkit-flex-basis: 65.66667%;
  -moz-flex-basis: 65.66667%;
  -ms-flex-preferred-size: 65.66667%;
  flex-basis: 65.66667%;
  max-width: 65.66667%; }

.col-9 {
  -webkit-flex-basis: 74.25%;
  -moz-flex-basis: 74.25%;
  -ms-flex-preferred-size: 74.25%;
  flex-basis: 74.25%;
  max-width: 74.25%; }

.col-10 {
  -webkit-flex-basis: 82.83333%;
  -moz-flex-basis: 82.83333%;
  -ms-flex-preferred-size: 82.83333%;
  flex-basis: 82.83333%;
  max-width: 82.83333%; }

.col-11 {
  -webkit-flex-basis: 91.41667%;
  -moz-flex-basis: 91.41667%;
  -ms-flex-preferred-size: 91.41667%;
  flex-basis: 91.41667%;
  max-width: 91.41667%; }

.col-12 {
  -webkit-flex-basis: 100%;
  -moz-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-50 {
  -webkit-flex-basis: 50%;
  -moz-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

@media (max-width: 960px) {
  .md-1 {
    -webkit-flex-basis: 5.58333%;
    -moz-flex-basis: 5.58333%;
    -ms-flex-preferred-size: 5.58333%;
    flex-basis: 5.58333%;
    max-width: 5.58333%; }

  .md-2 {
    -webkit-flex-basis: 14.16667%;
    -moz-flex-basis: 14.16667%;
    -ms-flex-preferred-size: 14.16667%;
    flex-basis: 14.16667%;
    max-width: 14.16667%; }

  .md-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-preferred-size: 22.75%;
    flex-basis: 22.75%;
    max-width: 22.75%; }

  .md-4 {
    -webkit-flex-basis: 31.33333%;
    -moz-flex-basis: 31.33333%;
    -ms-flex-preferred-size: 31.33333%;
    flex-basis: 31.33333%;
    max-width: 31.33333%; }

  .md-5 {
    -webkit-flex-basis: 39.91667%;
    -moz-flex-basis: 39.91667%;
    -ms-flex-preferred-size: 39.91667%;
    flex-basis: 39.91667%;
    max-width: 39.91667%; }

  .md-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%;
    max-width: 48.5%; }

  .md-7 {
    -webkit-flex-basis: 57.08333%;
    -moz-flex-basis: 57.08333%;
    -ms-flex-preferred-size: 57.08333%;
    flex-basis: 57.08333%;
    max-width: 57.08333%; }

  .md-8 {
    -webkit-flex-basis: 65.66667%;
    -moz-flex-basis: 65.66667%;
    -ms-flex-preferred-size: 65.66667%;
    flex-basis: 65.66667%;
    max-width: 65.66667%; }

  .md-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-preferred-size: 74.25%;
    flex-basis: 74.25%;
    max-width: 74.25%; }

  .md-10 {
    -webkit-flex-basis: 82.83333%;
    -moz-flex-basis: 82.83333%;
    -ms-flex-preferred-size: 82.83333%;
    flex-basis: 82.83333%;
    max-width: 82.83333%; }

  .md-11 {
    -webkit-flex-basis: 91.41667%;
    -moz-flex-basis: 91.41667%;
    -ms-flex-preferred-size: 91.41667%;
    flex-basis: 91.41667%;
    max-width: 91.41667%; }

  .md-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .md-bottom {
    margin-bottom: 30px; } }
@media (max-width: 768px) {
  .sm-1 {
    -webkit-flex-basis: 5.58333%;
    -moz-flex-basis: 5.58333%;
    -ms-flex-preferred-size: 5.58333%;
    flex-basis: 5.58333%;
    max-width: 5.58333%; }

  .sm-2 {
    -webkit-flex-basis: 14.16667%;
    -moz-flex-basis: 14.16667%;
    -ms-flex-preferred-size: 14.16667%;
    flex-basis: 14.16667%;
    max-width: 14.16667%; }

  .sm-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-preferred-size: 22.75%;
    flex-basis: 22.75%;
    max-width: 22.75%; }

  .sm-4 {
    -webkit-flex-basis: 31.33333%;
    -moz-flex-basis: 31.33333%;
    -ms-flex-preferred-size: 31.33333%;
    flex-basis: 31.33333%;
    max-width: 31.33333%; }

  .sm-5 {
    -webkit-flex-basis: 39.91667%;
    -moz-flex-basis: 39.91667%;
    -ms-flex-preferred-size: 39.91667%;
    flex-basis: 39.91667%;
    max-width: 39.91667%; }

  .sm-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%;
    max-width: 48.5%; }

  .sm-7 {
    -webkit-flex-basis: 57.08333%;
    -moz-flex-basis: 57.08333%;
    -ms-flex-preferred-size: 57.08333%;
    flex-basis: 57.08333%;
    max-width: 57.08333%; }

  .sm-8 {
    -webkit-flex-basis: 65.66667%;
    -moz-flex-basis: 65.66667%;
    -ms-flex-preferred-size: 65.66667%;
    flex-basis: 65.66667%;
    max-width: 65.66667%; }

  .sm-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-preferred-size: 74.25%;
    flex-basis: 74.25%;
    max-width: 74.25%; }

  .sm-10 {
    -webkit-flex-basis: 82.83333%;
    -moz-flex-basis: 82.83333%;
    -ms-flex-preferred-size: 82.83333%;
    flex-basis: 82.83333%;
    max-width: 82.83333%; }

  .sm-11 {
    -webkit-flex-basis: 91.41667%;
    -moz-flex-basis: 91.41667%;
    -ms-flex-preferred-size: 91.41667%;
    flex-basis: 91.41667%;
    max-width: 91.41667%; }

  .sm-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .sm-bottom {
    margin-bottom: 30px; } }
@media (max-width: 480px) {
  .xs-1 {
    -webkit-flex-basis: 5.58333%;
    -moz-flex-basis: 5.58333%;
    -ms-flex-preferred-size: 5.58333%;
    flex-basis: 5.58333%;
    max-width: 5.58333%; }

  .xs-2 {
    -webkit-flex-basis: 14.16667%;
    -moz-flex-basis: 14.16667%;
    -ms-flex-preferred-size: 14.16667%;
    flex-basis: 14.16667%;
    max-width: 14.16667%; }

  .xs-3 {
    -webkit-flex-basis: 22.75%;
    -moz-flex-basis: 22.75%;
    -ms-flex-preferred-size: 22.75%;
    flex-basis: 22.75%;
    max-width: 22.75%; }

  .xs-4 {
    -webkit-flex-basis: 31.33333%;
    -moz-flex-basis: 31.33333%;
    -ms-flex-preferred-size: 31.33333%;
    flex-basis: 31.33333%;
    max-width: 31.33333%; }

  .xs-5 {
    -webkit-flex-basis: 39.91667%;
    -moz-flex-basis: 39.91667%;
    -ms-flex-preferred-size: 39.91667%;
    flex-basis: 39.91667%;
    max-width: 39.91667%; }

  .xs-6 {
    -webkit-flex-basis: 48.5%;
    -moz-flex-basis: 48.5%;
    -ms-flex-preferred-size: 48.5%;
    flex-basis: 48.5%;
    max-width: 48.5%; }

  .xs-7 {
    -webkit-flex-basis: 57.08333%;
    -moz-flex-basis: 57.08333%;
    -ms-flex-preferred-size: 57.08333%;
    flex-basis: 57.08333%;
    max-width: 57.08333%; }

  .xs-8 {
    -webkit-flex-basis: 65.66667%;
    -moz-flex-basis: 65.66667%;
    -ms-flex-preferred-size: 65.66667%;
    flex-basis: 65.66667%;
    max-width: 65.66667%; }

  .xs-9 {
    -webkit-flex-basis: 74.25%;
    -moz-flex-basis: 74.25%;
    -ms-flex-preferred-size: 74.25%;
    flex-basis: 74.25%;
    max-width: 74.25%; }

  .xs-10 {
    -webkit-flex-basis: 82.83333%;
    -moz-flex-basis: 82.83333%;
    -ms-flex-preferred-size: 82.83333%;
    flex-basis: 82.83333%;
    max-width: 82.83333%; }

  .xs-11 {
    -webkit-flex-basis: 91.41667%;
    -moz-flex-basis: 91.41667%;
    -ms-flex-preferred-size: 91.41667%;
    flex-basis: 91.41667%;
    max-width: 91.41667%; }

  .xs-12 {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }

  .xs-bottom {
    margin-bottom: 15px; } }
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 1px; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 10px; }
  @media (max-width: 1100px) {
    html {
      font-size: 8px; } }
  @media (max-width: 768px) {
    html {
      font-size: 7px; } }
  @media (max-width: 480px) {
    html {
      font-size: 5px; } }

body {
  font-size: 16px;
  font-family: "open";
  font-weight: 400;
  position: relative;
  height: auto;
  min-height: 100vh;
  color: #333333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  line-height: 1.6; }
  body ::-moz-selection {
    color: #fff;
    background: #0C59AF; }
  body ::selection {
    color: #fff;
    background: #0C59AF; }

a, a:hover, input, textarea, select {
  -webkit-tap-highlight-color: transparent;
  outline: 0 none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

a img, fieldset, hr {
  border: 0; }

mark {
  background: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: middle; }

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], select, textarea {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 0;
  -webkit-appearance: none; }

input[type="submit"], input[type="button"], button, .button {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;
  cursor: pointer;
  border: none; }

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
textarea {
  font-family: "open";
  font-size: 16px;
  width: 100%;
  height: 40px;
  padding: 0 5px 0 10px;
  color: #333333;
  border: 1px solid #0C59AF;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  input[type='text']::-webkit-input-placeholder,
  input[type='number']::-webkit-input-placeholder,
  input[type='email']::-webkit-input-placeholder,
  input[type='password']::-webkit-input-placeholder,
  input[type='search']::-webkit-input-placeholder,
  input[type='tel']::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-family: "open";
    font-size: 16px;
    opacity: 1;
    color: #333333; }
  input[type='text']::-moz-placeholder,
  input[type='number']::-moz-placeholder,
  input[type='email']::-moz-placeholder,
  input[type='password']::-moz-placeholder,
  input[type='search']::-moz-placeholder,
  input[type='tel']::-moz-placeholder,
  textarea::-moz-placeholder {
    opacity: 1;
    font-family: "open";
    font-size: 16px;
    opacity: 1;
    color: #333333; }
  input[type='text']:-ms-input-placeholder,
  input[type='number']:-ms-input-placeholder,
  input[type='email']:-ms-input-placeholder,
  input[type='password']:-ms-input-placeholder,
  input[type='search']:-ms-input-placeholder,
  input[type='tel']:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    font-family: "open";
    font-size: 16px;
    opacity: 1;
    color: #333333; }
  input[type='text']:focus,
  input[type='number']:focus,
  input[type='email']:focus,
  input[type='password']:focus,
  input[type='search']:focus,
  input[type='tel']:focus,
  textarea:focus {
    border-color: #073567 !important; }

textarea {
  height: 120px;
  padding-top: 10px;
  resize: none; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type='search'],
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none !important; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0; }

.button {
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0;
  outline: 0;
  background: #0C59AF;
  appearance: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .button:hover {
    background: #094689;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .button:active {
    background: #073567; }
  .button--red {
    background: #c00; }
    .button--red:hover {
      background: #a30000; }
    .button--red:active {
      background: maroon; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 20px; }

p {
  margin-bottom: 20px; }

a {
  color: #0C59AF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: 0; }
  a:hover {
    text-decoration: underline;
    outline: 0; }

.content ul {
  margin-left: 3rem;
  padding-bottom: 2rem; }
  .content ul li {
    line-height: 1.4; }

hr {
  clear: both;
  font-size: 0;
  overflow: hidden;
  display: block;
  height: 0; }

article, aside, details, figcaption, figure, footer, header, nav, section, summary, main {
  display: block; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  margin: 0 30px 10px 0; }

img.alignright {
  margin: 0 0 10px 30px; }

.aligncenter {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0; }

strong,
b {
  font-weight: 700; }

i {
  font-style: normal; }

@media (min-width: 1100px) {
  ::-webkit-scrollbar {
    width: 13px; }

  ::-webkit-scrollbar-track {
    border-left: 1px solid #ccc;
    background-color: #eaeaea; }

  ::-webkit-scrollbar-thumb {
    background: #0a4d97; }

  ::-webkit-scrollbar-thumb:hover {
    background: #09417f; } }
@media (max-width: 1100px) {
  .mobile_hide {
    display: none !important; }

  .desctop_hide {
    display: block !important; } }
.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%; }

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0; }
  .fullframe iframe, .fullframe object, .fullframe embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: "open";
  height: 40px; }
  .selbel_w select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .selbel_w select + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: #333333;
      padding: 0 10px;
      border-radius: 5px;
      border: 1px solid #0C59AF;
      line-height: 40px; }
      .selbel_w select + span:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px; }
      .selbel_w select + span.err {
        border-color: #ef4036; }
    .selbel_w select option {
      padding: 5px; }

div.wpcf7 .wpcf7-form-control-wrap {
  display: block !important;
  margin-bottom: 20px;
  clear: both; }
div.wpcf7 .wpcf7-not-valid-tip {
  background: #fff;
  border: 1px solid #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  font-family: "open";
  line-height: 40px;
  padding: 0 10px;
  text-align: left; }
div.wpcf7 .wpcf7-response-output {
  width: 100%;
  background: #fff;
  margin: 10px 0 0 0;
  font-family: "open";
  font-size: 12px;
  line-height: 20px;
  padding: 5px 20px;
  text-align: center; }

.error404 .content {
  text-align: center; }
  .error404 .content h1 {
    font-size: 3.75rem;
    line-height: 1.2;
    padding-bottom: 40px;
    font-weight: 400; }
    .error404 .content h1 span {
      font-size: 5.3125rem;
      line-height: 1.2;
      color: #0C59AF;
      font-weight: 700; }
  .error404 .content p {
    font-size: 1.125rem; }

#menuOpen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #222;
  height: 50px;
  display: none; }
  #menuOpen.opened span:before, #menuOpen.opened span:after {
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none; }
  #menuOpen.opened span:before {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    -moz-transform: rotate(-45deg) translate(-7px, 7px);
    -ms-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px); }
  #menuOpen.opened span:after {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px); }
  #menuOpen p {
    margin-left: 3%;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 50px; }
  #menuOpen span {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moztransform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 3%;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 300;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    #menuOpen span:before, #menuOpen span:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 4px;
      box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
      -webkit-box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
      -moz-box-shadow: 0 4px 0 0 #fff, 0 18px 0 0 #fff;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #menuOpen span:after {
      content: "";
      position: absolute;
      top: 7px;
      height: 4px;
      -webkit-box-shadow: 0 4px 0 0 #fff;
      -moz-box-shadow: 0 4px 0 0 #fff;
      -ms-box-shadow: 0 4px 0 0 #fff;
      -o-box-shadow: 0 4px 0 0 #fff;
      box-shadow: 0 4px 0 0 #fff; }

@media screen and (min-width: 1024px) {
  #mainMenu > ul {
    font-size: 0; }
    #mainMenu > ul > li {
      display: inline-block;
      vertical-align: top; }
      #mainMenu > ul > li a {
        font-size: 14px;
        display: block; }
      #mainMenu > ul > li ul {
        margin-top: 20px;
        opacity: 0;
        visibility: hidden;
        width: 270px;
        position: absolute;
        left: 0;
        top: 100%;
        background: #0C59AF;
        font-size: 14px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        #mainMenu > ul > li ul li {
          position: relative;
          padding: 5px 10px; }
          #mainMenu > ul > li ul li:hover ul {
            visibility: visible;
            opacity: 1;
            margin-top: 0; }
          #mainMenu > ul > li ul li ul {
            left: 270px;
            top: 0; } }
#main {
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%; }

.wrapper {
  margin: 0 auto;
  width: 1140px;
  max-width: 94%;
  position: relative; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }
  .flex.justify_around {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .flex.h_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .flex.v_center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
  .flex.vh_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }

.alc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.text-center {
  text-align: center; }

/* SOCIAL LINK */
.s_link {
  font-size: 0;
  display: inline-block; }
  .s_link a {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 2px;
    color: #fff;
    border-radius: 50%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden; }
    .s_link a:before {
      font-size: 20px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .s_link a:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    .s_link a.icon-facebook:hover {
      background: #3b5993; }
    .s_link a.icon-twitter:hover {
      background: #55acee; }
    .s_link a.icon-instagram:hover {
      background: #181818; }
    .s_link a.icon-linkedin:hover {
      background: #0177b5; }
    .s_link a.icon-pinterest:hover {
      background: #bd1e23; }
    .s_link a.icon-youtube-play:hover {
      background: #f80000; }

.wp-pagenavi {
  font-size: 0;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #000; }
  .wp-pagenavi a,
  .wp-pagenavi span {
    font-size: 14px;
    margin: 0 3px;
    padding: 3px 5px; }
  .wp-pagenavi a {
    border: 1px solid #000; }
  .wp-pagenavi .current,
  .wp-pagenavi a:hover {
    color: #fff;
    border-color: #0C59AF;
    background: #0C59AF; }

header {
  position: relative;
  z-index: 100; }

#logo {
  opacity: 1; }
  #logo:hover {
    opacity: .8; }

.footer {
  background: #181818;
  color: #ffffff;
  padding: 4rem 0; }

/*.content {
  ul {
    margin: 0 0 20px 15px;
    li {
      padding: 5px 0 5px 15px;
      position: relative;
      &:before {
        content: "";
        background: $bg;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        top: 15px;
        left: 0;
      }
    }
  }
}*/
@media screen and (max-width: 1024px) {
  #menuOpen {
    display: block; }
    #menuOpen.opened + #mainMenu {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); }

  #mainMenu {
    position: fixed;
    top: 50px;
    width: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: rgba(26, 26, 26, 0.95);
    right: 0;
    bottom: 0;
    overflow: auto; }
    #mainMenu ul li {
      display: inline-block;
      width: 100%; }
      #mainMenu ul li a {
        display: block;
        margin: 0;
        color: #fff;
        font-size: 18px;
        padding: 15px 3%;
        border-bottom: 1px solid #000; }
      #mainMenu ul li:hover a {
        background: none; }
      #mainMenu ul li.current-menu-item > a {
        background: #0C59AF; } }

/*# sourceMappingURL=style.css.map */
