body {
  padding-top: var(--headerOffset);
  font-size: $font-base;
  font-family: $f;
  font-weight: 400;
  position: relative;
  height: auto;
  min-height: 100vh;
  color: $c;
  @include flexbox();
  @include flex-direction (column);
  box-sizing: border-box;
  line-height: 1.6;

  ::-moz-selection {
    color: #fff;
    background: $bg;
  }

  ::selection {
    color: #fff;
    background: $bg;
  }
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='search'],
input[type='tel'],
textarea {
  font-family: $f;
  font-size: $font-base;
  width: 100%;
  height: $inputH;
  padding: 0 5px 0 10px;
  color: $c;
  border: 1px solid $bg;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include placeholder {
    font-family: $f;
    font-size: $font-base;
    opacity: 1;
    color: $c;
  }

  &:focus {
    border-color: darken($bg, 15%) !important;
  }
}

textarea {
  height: 120px;
  padding-top: 10px;
  resize: none;
}

//SELECT
.selbel_w {
  position: relative;
  display: block;
  width: 100%;
  font-size: $font-base;
  font-family: $f;
  height: $inputH;
  select {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    + span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      color: $c;
      padding: 0 20px 0 10px;
      border-radius: 5px;
      border: 1px solid $bg;
      line-height: $inputH;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 5px 0 5px;
        border-color: #555 transparent transparent transparent;
        position: absolute;
        right: 13px;
        top: 16px;
      }
      &.err {
        border-color: #ef4036
      }
    }
    option {
      padding: 5px
    }
  }
}

.button {
  font-size: $font-base;
  font-weight: normal;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0;
  outline: 0;
  background: $bg;
  appearance: none;
  @include transition(all, .4s, ease);
  &:hover {
    background: darken($bg, 8%);
    @include shadow(2);
  }
  &:active {
    background: darken($bg, 15%);
  }
  &.red {
    background: #c00;
    &:hover {
      background: darken(#c00, 8%);
    }
    &:active {
      background: darken(#c00, 15%);
    }
  }
}

//Typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: $mb;
}
p {
  margin-bottom: $mb;
}

a {
  color: $bg;
  text-decoration: none;
  @include transition();
  outline: 0;
  &:hover {
    text-decoration: none;
    outline: 0;
    color: $c;
    img {
      opacity: .6;
    }
  }
  img {
    @include transition();
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

img.alignleft {
  margin: 0 30px 10px 0;
}

img.alignright {
  margin: 0 0 10px 30px;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: 0;
}

@include for-size(1025px, min-width) {
  .desktop-hide {
    display: none !important;
  }
}
@include for-size(1024px, max-width) {
  .mobile-hide {
    display: none !important;
  }
}

//Fullframe
.fullframe {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0;
  iframe, object, embed, video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1
  }
}

//CONTACT FORM
div.wpcf7 {
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: 20px;
    clear: both;
  }
  .wpcf7-not-valid-tip {
    background: #fff;
    border: 1px solid #FF0000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    font-family: $f;
    line-height: $inputH;
    padding: 0 10px;
    text-align: left;
  }
  .wpcf7-response-output {
    width: 100%;
    background: #fff;
    color: $c;
    margin: 10px 0 0 0;
    font-family: $f;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 20px;
    text-align: center;
  }
}


//PAGE 404
.error404 {
  #main {
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
  .content {
    text-align: center;
    h1 {
      margin-bottom: 40px;
      span {
        font-size: 85px;
        color: $bg;
      }
    }
  }
}

#main {
  overflow: hidden;
  @include flex(1, 0, auto);
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: $w;
  max-width: 94%;
  position: relative;
}

.wp-pagenavi {
  font-size: 0;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
  border-top: 1px solid #000;

  a,
  span {
    font-size: 14px;
    margin: 0 3px;
    padding: 3px 5px;
  }

  a {
    border: 1px solid #000;
  }

  .current,
  a:hover {
    color: #fff;
    border-color: $bg;
    background: $bg;
  }
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}