//MIXINS
@mixin box-shadow($styles) {
  -webkit-box-shadow: $styles;
  -moz-box-shadow: $styles;
  -ms-box-shadow: $styles;
  -o-box-shadow: $styles;
  box-shadow: $styles;
}

@mixin user-select($select) {
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin backface-visibility($back: hidden) {
  -webkit-backface-visibility: $back;
  -moz-backface-visibility: $back;
  backface-visibility: $back;
}

@mixin center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moztransform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($name, $duration: 400ms, $iterations: infinite, $timing-function: linear, $delay: 0) {
  @include prefixer('animation-name', $name);
  @include prefixer('animation-duration', $duration);
  @include prefixer('animation-iteration-count', $iterations);
  @include prefixer('animation-timing-function', $timing-function);
  @include prefixer('animation-delay', $delay);
  @include prefixer('animation-fill-mode', 'forwards'); /* this prevents the animation from restarting! */
}

@mixin headings {
  h1, h2, h3,
  h4, h5, h6 {
    @content;
  }
}

@function strip-units($value) {
  @return ($value / ($value * 0 + 1));
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }
  $base: $font-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

@mixin declare-font($font-family, $font-filename, $font-weight: normal, $font-style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('../fonts/#{$font-filename}.woff') format('woff'), url('../../fonts/fonts/#{$font-filename}.woff2') format('woff2');
  }
}

@mixin prefixer($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  #{$property}: #{$value};
}

//@include linearGradient(#e1e1e1, #d2d2d2);
@mixin linearGradient($top, $bottom) {
  background: $top; /* Old browsers */
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $top 0%, $bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $top 0%, $bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, $top 0%, $bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom, $top 0%, $bottom 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0); /* IE6-9 */
}

// @include for-size(md) {}
@mixin for-size($size, $direction: max-width) {

  @if $direction == max {
    $direction: max-width
  } @else if $direction == min {
    $direction: min-width
  }

  @if $size == xs {
    @media ($direction: $xs) {
      @content;
    }
  } @else if $size == sm {
    @media ($direction: $sm) {
      @content;
    }
  } @else if $size == md {
    @media ($direction: $md) {
      @content;
    }
  } @else if $size == row {
    @media ($direction: $row) {
      @content;
    }
  } @else if $size == mobile {
    @media ($direction: $mobile) {
      @content;
    }
  } @else {
    @media ($direction: $size) {
      @content;
    }
  }
}

@mixin minmax($min, $max) {
  @media (min-width: $min) and (max-width: $max) {
    @content
  }
}

@mixin transition($property: all, $duration: .3s, $easing: ease) {
  $transitions: ($property $duration $easing);
  @include prefixer('transition', $transitions);
}

@mixin transform($params, $backface: false) {
  @include prefixer('transform', $params);
  @if $backface {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@mixin shadow($depth) {
  @if $depth == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  @if $depth == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  @if $depth == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  @if $depth == 4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  @if $depth == 5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &::-moz-placeholder {
    opacity: 1;
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin get-last {
  >* {
    &:last-child {
      @content;
    }
  }
}