* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-width: 1px;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -moz-osx-font-smoothing: grayscale;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a, a:hover, input, textarea, select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0 none
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

a img, fieldset, hr {
  border: 0;
}

mark {
  background: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: middle;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], select, textarea {
  @include transition();
  border-radius: 0;
  -webkit-appearance: none;
}

input[type="submit"], input[type="button"], button, .button {
  @include transition();
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type='search'],
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
}

hr {
  clear: both;
  font-size: 0;
  overflow: hidden;
  display: block;
  height: 0
}

article, aside, details, figcaption, figure, footer, header, nav, section, summary, main {
  display: block;
}

strong,
b {
  font-weight: 700;
}

i {
  font-style: normal;
}

@include for-size(mobile, min) {
  ::-webkit-scrollbar {
    width: 13px;
  }
  ::-webkit-scrollbar-track {
    border-left: 1px solid #ccc;
    background-color: #eaeaea;
  }
  ::-webkit-scrollbar-thumb {
    background: darken($bg, 5%);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: darken($bg, 10%);
  }
}

.flex {
  @include flexbox;
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include align-items(stretch);

  &.justify_around {
    @include justify-content(space-around);
  }

  &.h_center {
    @include justify-content(center);
  }

  &.v_center {
    @include align-items(center);
  }

  &.vh_center {
    @include justify-content(center);
    @include align-items(center);
  }
}

.alc {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(center);
  @include flex-wrap(wrap);
}

.end {
  @include flexbox;
  @include justify-content(space-between);
  @include align-items(flex-end);
  @include flex-wrap(wrap);
}

.cover {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.text-center {
  text-align: center;
}


